<%-include("partials/header") %>
<div class="ui main text container segment">
  <div class="ui huge header">Cats app</div>
  <div class="ui top attached segment">
    <div class="ui divided items">
      <%cats.forEach((cat)=> {%>
        <div class="item">
          <div class="image">
              <img src="<%=cat.image%>" alt="<%= cat.name %>">
          </div>
          <div class="content">
            <a href="/cats/<%= cat._id %>"><h2><%=cat.name%></h2></a>
            <div class="meta">
                <%=cat.created.toDateString()%>
            </div>
            <div class="description">
                  <p><%= cat.body.substring(0,100)%> ...</p>
            </div>
            <div class="extra">
                <a href="/cats/<%= cat._id %>" class="ui violet basic button">More Info <i class="right chevron icon"></i></a>
            </div>
          </div>
        </div>
        <%}); %>
    </div>
  </div>
</div>
<%-include("partials/footer") %>
